body {
  height: 100vh;
  width: 100vw;
  font-family: var(--poppins);
  color: var(--text-color);
}

.container {
  height: 100%;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 20px;
}

header {
  display: grid;
  place-items: center;
  background-color: var(--bg-dark-blue);
  color: var(--bg-white-color);
}

header h1 {
  font-size: 3rem;
  font-weight: bold;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

header img {
  width: 300px;
}

header .person-info {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300;
}

header .person-more {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

header .person-more a {
  color: #F0F0F0;
  text-decoration: none;
}

header .person-more a:hover {
  text-decoration: underline;
}

header .person-links li {
  font-size: 0.9rem;
  margin-top: 4px;
}

header .person-interests {
  width: 80%;
  text-align-last: right;
}

header .person-interests p {
  margin-bottom: 8px;
}

header .person-interests ul {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  gap: 8px;
}

header .person-interests ul li {
  border: 1px solid #F0F0F0;
  border-radius: 20px;
  padding: 4px 8px;
  font-size: 0.7rem;
}

main {
  display: grid;
  place-items: center;
}

main .line {
  height: 1px;
  width: 100%;
  background-color: gray;
  margin: 10px 0;
}

main h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

main h4 {
  font-weight: 500;
}

main p {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 20px;
}

main .formacao_experiencia p {
  margin-bottom: 10px;
}

main .projetos {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

main .idiomas {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

main .ferramentas ul {
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 800px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid gray;
}

footer h2 {
  font-size: 3rem;
  font-weight: 600;
}

footer h2 span {
  font-family: var(--playfair);
}